<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SENDGRID_APIKEY" value="SG.ETCpLd4YRJSBIKDM5jDU1Q.asZxPCo5544545455444545gLNETaygiGcccbdU8Tb58TwZovqQwiWAtfAM"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="info@gooapp.com">
        <network host="smtp.sendgrid.com" password="P@ssw0rd" userName="UserName" port="587"/>
      </smtp>
    </mailSettings>
  </system.net>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="logs\"/>
      <param name="AppendToFile" value="true"/>
      <param name="DatePattern" value="dd.MM.yyy'.log'"/>
      <layout type="log4net.Layout.PatternLayout">
        <footer value="
"/>
        <conversionPattern value="==================== %newline %date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <footer value="
"/>
        <conversionPattern value="==================== %newline %date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
